$main-color: skyblue;

body {
  background-color: $main-color;
}

// button settings

.btn {
  &__new-post {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
  &__users {
    &-login {
      .root--authed & {
        display: none;
      }
    }
    &-logout {
      display: none;
      .root--authed & {
        display: inline-block;
      }
    }
  }
}

// .root--authed .btn__users-login {
//   display: none;
// }

// .btn__users-logout {
//   display: none;
// }

// .root--authed .btn__users-logout {
//   display: inline-block;
// }

// index 페이지 css

.post-item {

  &__title {
    cursor: pointer;    
  }
}