$main-color: skyblue;

body {
  background-color: $main-color;
}

// button settings

.btn {
  width: auto;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #555;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  &__new-post {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
  &__users {
    &-login {
      .root--authed & {
        display: none;
      }
    }
    &-logout {
      display: none;
      .root--authed & {
        display: inline-block;
      }
    }
  }
}

// index 페이지 css

.post-item {

  &__title {
    cursor: pointer;    
  }
}


// 포스트 페이지 

.post-comment {
  display: none;
  .root--authed & {
    display: inline-block;
  }
  &__form {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
}


// loading indicator

.root {
  &--loading {
    &::after {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: "Loading...";
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
  }
}